BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 80
DerivePointerAlignment: false
PointerAlignment: Left
BreakBeforeBraces: Allman
NamespaceIndentation: All
FixNamespaceComments: false
AlignAfterOpenBracket: BlockIndent
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
